/.vagrant
atlassian*
/nbproject
/.idea
/.gitattributes
/node_modules
/var/cache
/var/log
/var/report
/media/*
!/media/.htaccess
!/media/customer/.htaccess
!/media/dhl
!/media/downloadable/.htaccess
!/media/xmlconnect/custom
!/media/xmlconnect/original
!/media/xmlconnect/system
/app/etc/local.xml
/.htaccess